<html>
  <head>
    <%= javascript_include_tag :defaults%>
    <%= stylesheet_link_tag 'application'%>
    
  </head>
  <body>
    <div id="header">
      <div id="navigation">
        <% if current_user%>
          <% if current_user.facebook_id %>
            <%= fb_profile_pic current_user,:facebook_logo=>true,:height=>"24",:width=>"24"%> 
            <%= fb_name current_user,:use_you=>false%> 
          <% end %>
          <%= link_to "your account",current_user%> 
          <% if current_facebook_user%>
            <%= fb_logout_link "logout", logout_path%> 
          <% else %>
            <%= link_to "logout", logout_path%>
          <% end %>
          <%= link_to "notes",notes_path%>
        <% else %>
          <%= link_to "Login", new_session_path%>
        <% end %>
      </div>
    </div>
    <div id="main_content">
      <% unless flash[:notice].blank?%>
        <div id="notice">
          <div class="content">
            <p>
              <%= flash[:notice]%>
            </p>
          </div>
        </div>
      <% end %>
      <% unless flash[:error].blank?%>
        <div id="error">
          <div class="content">
            <p>
              <%= flash[:error]%>
            </p>
          </div>
        </div>
      <% end %>
      <div id="main_body">
        <%= yield%>
      </div>
    </div>
    <% fb_connect_async_js  do %>
      <%#= fb_connect_stream_publish(@user_action_to_publish) if @user_action_to_publish%>    
      <%= yield :fb_connect%>
    <% end %>
    
  </body>
</html>